{% extends 'base.html' %}
{% load static %}
{% block script %}<script defer src="{% static 'js/habit.js' %}"></script>{% endblock %}

{% block content %}
<div class="top_container">
    <div>
        <h2>Here is your {{habit.name}} habit</h2>
        <p>Description: {{habit.description}}</p>
    </div>
    <img src="" alt="Graph">
</div>

<div class="bottom_container">
    <div class="history_container">

        <div class="history_and_add_record">
            <h2 class="title">History</h2>
            <form class="add_record_form" action="{% url 'add_record' pk=habit.pk %}" method="POST">
                {% csrf_token %}
                {{record_form}}
                <button type="submit">Submit</button>
            </form>
        </div>

        {% for record in records %}
            <div class="record_span">
                {{record.amount}}
                {{record.description}}
                {{record.created_at}}
                <a href="{% url 'edit_record' pk={{record.pk}}">Edit</a>
                <a href="{% url 'delete_record' pk={{record.pk}}">Delete</a>
            </div>
        {% endfor %}
    </div>

    <div class="filter_container">
        <h2 class="title">Filter</h2>
        <select name="" id="">
            <!-- Figure out what type of filters you would like on these -->
            <option value=""></option>
        </select>
    </div>

</div>
{% endblock %}