{% extends 'base.html' %}
{% load static %}
{% block script %}<script defer src="{% static 'js/habit.js' %}"></script>{% endblock %}

{% block content %}
<div class="top_container">
    <div>
        <h2>Here is your {{habit.name}} habit</h2>
        <p>Description: {{habit.description}}</p>
    </div>
    <div class="chart-container" style="position: relative; width:50%;">
        <canvas id="habit_chart" width="4" height="1"></canvas>
    </div>
</div>



<div class="bottom_container">
    <div class="history_container">

        <div class="history_and_add_record">
            <h2 class="title">History</h2>
            <form class="add_record_form" action="{% url 'add_record' pk=habit.pk %}" method="POST">
                {% csrf_token %}
                {{record_form}}
                <button type="submit">Submit</button>
            </form>
        </div>
            {% for record in records %}
                <div class="record_span" id="record-{{record.pk}}">
                    <p id="record_amount_{{record.pk}}">{{record.amount}}</p>
                    <p id="record_description_{{record.pk}}">{{record.description}}</p>
                    <p>{{record.created_at}}</p>
                    <a data-recordpk="{{record.pk}}" data-habitpk="{{record.habit.pk}}" class="edit_record" href="{% url 'edit_record' pk=record.pk %}">Edit</a>
                    <a data-recordpk="{{record.pk}}" class="delete_record" href="">Delete</a>
                </div>
            {% endfor %}
    </div>

    <div class="filter_container">
        <h2 class="title">Filter</h2>
        <select name="" id="">
            <!-- Figure out what type of filters you would like on these -->
            <option value=""></option>
        </select>
    </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
{{ Chart_labels|json_script:"labels" }}
<script>
    // ------------------ CHARTING SECTION ------------------
    function colorCreator(number) {

    }

    let ctx = document.getElementById('habit_chart').getContext('2d');
    let myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: JSON.parse(document.getElementById('labels').innerText),
            datasets:
                [{
                    label: '{{habit.name}}',
                    data: {{Chart_dataset}},
                }],
        },

        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>
{% endblock %}