{% extends 'base.html' %}
{% load static %}
{% block script %}<script src="{% static 'js/home.js' %}"></script>{% endblock %}

{% block content %}
<h2>Welcome to your Daily Goal Manager</h2>
<!-- Hero Div shwocasing the app and possibilites with it 
     Testimonials in a Text Slideshow format
     -->
<!-- 
    Example Folds: 
    - Screenshot of the Graphs: Text describing the libraries used and other components
    - Screenshot of the Profile: Explaining tracking metrics and other components
 -->
{% endblock %}