{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Hero Div shwocasing the app and possibilites with it 
     Testimonials in a Text Slideshow format
     -->
    <div>
        <div class="slideshow_container">
            <div class="slide">
                <q>This really set my life up for success!</q>
                <p class="author">Sumgui</p>
            </div>
            <div class="slide">
                <q>I've never felt more alive!</q>
                <p class="author">OLivingItUp</p>
            </div>
            <div class="slide">
                <q>The charts really help</q>
                <p class="author">ChartGuy</p>
            </div>
            <a class="prev" onclick="plusSlides(-1)">❮</a>
            <a class="next" onclick="plusSlides(1)">❯</a>
        </div>
        <div class="dot-container">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
        </div>
    </div>
    <div class="example_container">
        <div class="top_example">
            <img class="images" src="{% static 'img/goals.jpeg' %}" alt="Profile screenshot of how the organization works and what to expect">
            <p class="talk">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give
            you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the
            master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but
            because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor
            again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because
            occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example,
            which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right
            to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain
            that produces no resultant pleasure?</p>
        </div>
        <div class="bottom_example">
            <p class="talk">On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the
            charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to
            ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying
            through shrinking from toil and pain. These cases are perfectly simple and easy to distinguish. In a free hour, when our
            power of choice is untrammelled and when nothing prevents our being able to do what we like best, every pleasure is to
            be welcomed and every pain avoided. But in certain circumstances and owing to the claims of duty or the obligations of
            business it will frequently occur that pleasures have to be repudiated and annoyances accepted. The wise man therefore
            always holds in these matters to this principle of selection: he rejects pleasures to secure other greater pleasures, or
            else he endures pains to avoid worse pains.</p>
            <img class="images" src="{% static 'img/sample_chart.png' %}" alt="Habit chart displayed when going to a specific habit">
        </div>
    </div>
<!-- 
    Example Folds: 
    - Screenshot of the Graphs: Text describing the libraries used and other components
    - Screenshot of the Profile: Explaining tracking metrics and other components
 -->
{% endblock %}