/* ------------------  GENERAL  ------------------ */
* {
	padding: 0;
	margin: 0;
	box-sizing: content-box;
}

a {
	text-decoration: none;
}

body {
	width: 90%;
	margin: 0 auto;
	margin-bottom: 3rem;
	background-image: url('../img/background.svg');
}

ul {
	display: flex;
	justify-content: space-between;
	font-size: 28px;
}

ul div {
	margin: .25rem 3rem;
}

header {
	border-bottom: 1px dotted black;
}
/* ---------------- ICONS ---------------- */
.plus_sign {
	width: 1.5rem;
}

.plus_sign:hover {
	cursor: pointer;
}

/* --------------- HOME PAGE -------------- */

/* ------------ SLIDESHOW CONTENT ------------ */

.slideshow_container {
	position: relative;
	background: #f1f1f1f1;
}

.slide {
	display: none;
	padding: 80px;
	text-align: center;
}

.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -30px;
	padding: 16px;
	color: #131010;
	font-weight: bold;
	font-size: 20px;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

.next {
	position: absolute;
	right: 0;
	border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
}

.dot-container {
	text-align: center;
	padding: 20px;
	background: #f1f1f1f1;
}

.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active,
.dot:hover {
	background-color: #717171;
}

q {
	font-style: italic;
}

.author {
	color: cornflowerblue;
}

/* ------------ EXAMPLE CONTENT ------------ */

.example_container {
	display: flex;
	flex-direction: column;
}

.top_example,
.bottom_example {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-align: center;
}

.images {
	padding: 1.5rem;
	margin: auto;
	width: 42.5%;
}

.talk {
	padding: 3rem;
	margin: 3rem;
	width: 42.5%;
}

/* ------------------ PROFILE PAGE ------------------ */

#habit_form_container {
	display: none;
}

#habit_form {
	display: flex;
	flex-direction: column;
	width: 50%;
	height: 40%;
	margin-left: 3rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 1px 1px 3px;
	background-color: #c2d9f7;
	padding: 3rem;
}

.closing_x,
.edit_closing_x {
	display: flex;
	cursor: pointer;
	width: fit-content;
	align-self: flex-end;
	font-size: 30px;
}

.name_goal {
	display: flex;
	justify-content: space-between;
}

.name,
.goal {
	display: flex;
	flex-direction: column;
}

.habit_form_btm {
	display: flex;
}

.habit_card_container {
	display: flex;
	flex-wrap: wrap;
}

#edit_form {
	display: flex;
	flex-direction: column;
	width: 50%;
	height: 40%;
	margin-left: 3rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 1px 1px 3px;
	background-color: #c2d9f7;
	padding: 3rem;
}

/* ----------- Habit Card Information ------------ */

.habit_card {
	border-radius: 15px;
	margin: .7rem;
	padding: .6rem;
	width: 300px;
	height: 150px;
	background-color: #c2d9f7;
	box-shadow: 1px 1px 3.25px #acc9ee;
	transition: .5s linear;
	display: flex;
	flex-direction: column;
	align-content: flex-end;
}

.habit_card:hover {
	transform: scale(1.05);
	opacity: .95;
}

.name_graph {
	display: flex;
	justify-content: space-between;
}

.edit_and_delete {
	display: flex;
	justify-content: space-between;
	vertical-align: bottom;
}

.delete_record {
	cursor: pointer;
}

/* ------------------ HABIT PAGE ------------------ */
.top_container {
	display: flex;
	justify-content: space-between;
	margin: 1rem 0;
}

.bottom_container {
	border-top: 1px solid black;
	display: flex;
	justify-content: space-between;
}

.history_and_add_record {
	display: flex;
	margin: auto 0;
	margin-top: 1rem;
}

.history_and_add_record h2,
form {
	margin: auto 1.25rem;
	padding-left: .5rem;

	text-align: center;
}

.history_container {
	width: 70%;
}

.filter_container {
	width: 20%;
}

.record_span {
	background-color: rgb(201, 217, 233);
	border-radius: 3px;
	box-shadow: 1px 1px 3.75px;
	margin: 1rem;
	padding: .75rem;
}
